.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.styleguide-block {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.heading-jumbo-tiny {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.container-1 {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.container-1.margin-40 {
  max-width: 700px;
}

.container-1.less-margin {
  margin-top: -80px;
}

.styleguide-content-wrap {
  text-align: center;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.styleguide-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
  color: #fff;
  text-align: center;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h1 {
  display: block;
  margin: 10px 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #323338;
  font-size: 56px;
  line-height: 64px;
  font-weight: 900;
  text-transform: none;
}

.paragraph-tiny {
  font-family: 'Nunito Sans', sans-serif;
  color: #323338;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.paragraph-light {
  display: block;
  opacity: 1;
  font-family: 'Nunito Sans', sans-serif;
  color: #323338;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.paragraph-light.cc-position-name {
  display: inline;
  margin-bottom: 5px;
  font-family: 'Nunito Sans', sans-serif;
  color: #323338;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.paragraph-light.margin-40 {
  display: block;
}

.section {
  display: block;
  margin-right: 30px;
  margin-bottom: 160px;
  margin-left: 30px;
}

.section.cc-contact {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.logo-link {
  position: static;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.logo-link.w--current {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.logo-link.w--current:hover {
  opacity: 1;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  color: #323338;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #323338;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.navigation-items.shadow {
  display: block;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.logo-image {
  display: block;
}

.navigation-wrap {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  clear: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #fff;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.navigation-wrap.heading-3 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0);
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.contact {
  padding-top: 80px;
  padding-bottom: 90px;
}

.contact-headline {
  width: 70%;
  margin-bottom: 40px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

.footer-wrap {
  display: block;
  padding: 40px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  font-family: 'Nunito Sans', sans-serif;
  color: #323338;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.project-overview-grid {
  display: block;
  margin-top: 120px;
  margin-bottom: 135px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-template-areas: ". . . ."
    "Area Area Area-2 Area-2";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.detail-image {
  overflow: visible;
  width: 100%;
  margin: 40px 0%;
  padding: 0%;
}

.next-project {
  width: 100%;
  margin: 140px auto 200px;
  text-align: left;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 220px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #323338;
}

.slider-text-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
}

.slider-text-wrap.bg-transparent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.slider-text-wrap.wrap-grey {
  background-color: #f9f9f9;
}

.absolute-bg {
  position: absolute;
  display: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f5f5f5, #f5f5f5);
}

.image {
  position: static;
  display: inline-block;
  width: 88%;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 6%;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.left-icon {
  margin-right: auto;
  margin-left: 0px;
  border-style: solid;
  border-width: 32px 0px;
  border-color: rgba(68, 66, 77, 0.08) rgba(68, 66, 77, 0.09) rgba(68, 66, 77, 0.09);
  opacity: 1;
  color: #fff;
  font-size: 32px;
  line-height: 0px;
}

.slide-nav {
  margin-bottom: 2%;
  font-family: 'Nunito Sans', sans-serif;
  color: #323338;
  font-size: 14px;
  line-height: 22px;
}

.slide {
  width: 100%;
  background-color: transparent;
}

.div-block-3 {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f4));
  background-image: linear-gradient(180deg, #f4f4f4, #f4f4f4);
}

.wrap-blue {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eff5ff), to(#eff5ff));
  background-image: linear-gradient(180deg, #eff5ff, #eff5ff);
}

.wrap-project {
  display: block;
  background-image: none;
}

.ios {
  display: inline-block;
  width: 200px;
  height: 65px;
  margin: 0px 40px 40px 0px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: transparent;
  background-image: url('../images/app-store2x.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: repeat;
}

.ios:hover {
  opacity: 0.8;
}

.android {
  display: inline-block;
  width: 200px;
  height: 65px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 0px;
  background-color: transparent;
  background-image: url('../images/google-play2x.png');
  background-position: 0px 0px;
  background-size: cover;
}

.android:hover {
  opacity: 0.8;
}

.column-2 {
  z-index: 1;
}

.link {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #323338;
}

.link:hover {
  -webkit-transform: translate(48px, 0px);
  -ms-transform: translate(48px, 0px);
  transform: translate(48px, 0px);
  text-decoration: none;
}

.column-4 {
  overflow: visible;
}

.time-text {
  display: block;
  font-family: Montserrat, sans-serif;
  color: #a6a5a9;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
}

.time-text.inline {
  display: inline;
}

.homepage-text {
  display: inline;
  font-family: Montserrat, sans-serif;
  color: #323338;
  font-size: 56px;
  line-height: 64px;
  font-weight: 800;
}

.paragraph-bold {
  font-family: 'Nunito Sans', sans-serif;
  color: #323338;
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
}

.paragraph-bold.dim-grey {
  position: static;
  display: block;
  color: #d9d9db;
}

.paragraph-bold.dim-grey.bold-600 {
  font-weight: 600;
}

.video-wrap {
  position: relative;
  display: block;
  width: 320px;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img-shadow {
  position: relative;
  display: block;
  overflow: visible;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 4px 4px 40px 0 #e1e1e2;
}

.margin-40 {
  margin-bottom: 40px;
}

.margin-40.margin--30 {
  margin-top: -30px;
}

.margin-40.section {
  position: relative;
  display: block;
}

.margin-40.section.padding-mid {
  padding-top: 100px;
}

.header-text-wrap {
  margin-top: 60px;
}

.homepage-sub {
  display: inline;
  text-decoration: none;
}

.link-no-underline {
  width: 100%;
  color: #323338;
  text-decoration: none;
}

.grey-underline {
  color: #a6a5a9;
}

.margin-bottom-160 {
  margin-bottom: 160px;
}

.inline {
  display: inline;
}

.inline.link {
  display: inline;
}

.inline.margin-right-20 {
  margin-right: 20px;
}

.video-responsive {
  position: absolute;
  z-index: auto;
  display: block;
  width: 88%;
  height: 100%;
  margin-top: 0%;
  margin-left: 6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.video-responsive.top {
  z-index: 1;
}

.image-3 {
  position: relative;
  margin-top: 0px;
}

.img-center {
  margin-right: auto;
  margin-left: auto;
}

.bold-600 {
  font-weight: 600;
}

.right-icon {
  margin-right: 0px;
  margin-left: auto;
  border-style: solid;
  border-width: 32px 0px;
  border-color: rgba(68, 66, 77, 0.08);
  font-size: 32px;
  line-height: 0px;
}

.footer-text {
  font-family: Leaguespartan, sans-serif;
  color: #323338;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-text.margin-20 {
  margin-bottom: 20px;
}

.next-project-wrap {
  margin-bottom: -200px;
}

.icon-hover:hover {
  border-radius: 20px;
  background-color: rgba(68, 66, 77, 0.08);
}

.logo-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.logo {
  width: 32px;
}

.section-homepage {
  display: block;
}

.section-homepage.heading-5.section {
  margin-bottom: 0px;
}

.image-dm {
  display: inline-block;
  width: 300px;
  margin-bottom: 60px;
  margin-left: 0%;
}

.image-dm.img-shadow {
  display: inline-block;
}

.left-icon-2 {
  margin-right: auto;
  margin-left: 0px;
  border-style: solid;
  border-width: 32px 0px;
  border-color: rgba(68, 66, 77, 0.08) rgba(68, 66, 77, 0.09) rgba(68, 66, 77, 0.09);
  opacity: 1;
  color: #fff;
  font-size: 32px;
  line-height: 0px;
}

.slide-nav-2 {
  margin-bottom: 2%;
  font-family: 'Nunito Sans', sans-serif;
  color: #44424d;
  font-size: 14px;
  line-height: 22px;
}

.image-5 {
  position: static;
  display: inline-block;
  width: 88%;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 6%;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.dm-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-1 {
  display: block;
  font-family: ITCAvantGardeStdBold, sans-serif;
  color: #323338;
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

.heading-2 {
  font-family: 'Nunito Sans', sans-serif;
  color: #323338;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}

.heading-2.font-grey {
  color: #979797;
}

.heading-2.padding-tiny {
  padding-top: 10px;
}

.heading-2.font-bold {
  font-weight: 700;
}

.heading-4 {
  font-family: ITCAvantGardeStdBold, sans-serif;
  color: #323338;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}

.heading-3 {
  font-family: 'Nunito Sans', sans-serif;
  color: #323338;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}

.heading-3.font-grey {
  color: #979797;
}

.heading {
  font-family: ITCAvantGardeStdBold, sans-serif;
  color: #323338;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

.section.black-line {
  height: 1px;
  margin-bottom: 0px;
  background-color: #323338;
}

.grey-line {
  height: 1px;
  background-color: rgba(50, 51, 56, 0.1);
}

.columns {
  height: 180px;
}

.bg1:hover {
  background-color: #e8ecfd;
}

.bg2:hover {
  background-color: #f2d0ac;
}

.bg3:hover {
  background-color: #d5efec;
}

.bg4:hover {
  background-color: #e3f1f6;
}

.padding-small {
  padding-top: 20px;
}

.grid {
  display: block;
  -ms-grid-columns: 0.25fr 1fr 0.75fr;
  grid-template-columns: 0.25fr 1fr 0.75fr;
}

.bc1 {
  margin-top: -100px;
  padding-top: 100px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #e8ecfd;
}

.bc1.bc-uplevo {
  background-color: #e2edfb;
}

.bc1.bc-fruito {
  background-color: #f3f4f9;
}

.bc1.bc2 {
  background-color: #f2d0ac;
}

.bc1.bc3 {
  background-color: #d5efec;
}

.bc1.bc-about {
  margin-top: 0px;
  padding-top: 220px;
  background-color: transparent;
}

.bc1.bc-4 {
  background-color: #e3f1f6;
}

.bc1.bc-pebble {
  background-color: #eff5ff;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.margin-bottom-tiny {
  margin-bottom: 10px;
}

.container-2 {
  width: 100%;
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.seperate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.selfie {
  width: 200px;
}

.padding-mid {
  padding-top: 40px;
}

@media screen and (max-width: 991px) {
  h3 {
    text-align: left;
  }

  .styleguide-block {
    text-align: center;
  }

  .container-1 {
    text-align: left;
  }

  .h1 {
    font-size: 56px;
    line-height: 70px;
    text-align: left;
  }

  .paragraph-light {
    text-align: left;
  }

  .section.cc-contact {
    padding-right: 0px;
    padding-left: 0px;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .navigation-items.shadow {
    box-shadow: 6px 6px 20px 0 rgba(68, 66, 77, 0.2);
  }

  .navigation {
    padding: 25px 30px;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation-wrap {
    margin-right: 0px;
  }

  .contact {
    width: auto;
    padding: 30px 50px 40px;
  }

  .contact-headline {
    width: 100%;
  }

  .contact-form-wrap {
    width: 100%;
  }

  .project-overview-grid {
    width: 100%;
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto 50px auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .next-project {
    margin-bottom: 160px;
  }

  .android {
    margin-right: auto;
  }

  .time-text {
    text-align: left;
  }

  .margin-40 {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-text.margin-20.heading-2 {
    text-align: right;
  }

  .heading-1 {
    text-align: left;
  }

  .heading-2 {
    text-align: left;
  }

  .heading-4.margin-40 {
    max-width: 100%;
  }

  .columns {
    height: 200px;
  }

  .padding-small {
    text-align: left;
  }

  .grid {
    display: block;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    justify-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 0.25fr 1fr 0.75fr;
    grid-template-columns: 0.25fr 1fr 0.75fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .container-1 {
    text-align: center;
  }

  .h1 {
    font-size: 50px;
    line-height: 64px;
    text-align: left;
  }

  .section {
    margin-right: 15px;
    margin-left: 15px;
    text-align: left;
  }

  .section.cc-contact {
    padding: 15px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .navigation-items {
    background-color: hsla(0, 0%, 100%, 0);
  }

  .navigation-items.shadow {
    background-color: #fff;
    box-shadow: 6px 6px 20px 0 rgba(68, 66, 77, 0.2);
  }

  .navigation {
    padding: 20px 30px;
  }

  .text-field.cc-textarea {
    text-align: left;
  }

  .contact {
    padding-right: 30px;
    padding-left: 30px;
  }

  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-wrap {
    text-align: left;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .webflow-link {
    margin-bottom: 15px;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .project-overview-grid {
    width: 80%;
    max-width: 470px;
    margin-top: 90px;
    margin-bottom: 95px;
  }

  .detail-image {
    margin-bottom: 15px;
  }

  .next-project {
    width: 80%;
    max-width: 470px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .column-2 {
    display: block;
    text-align: left;
  }

  .paragraph-bold {
    text-align: left;
  }

  .margin-40 {
    max-width: 470px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  .footer-text.margin-20.heading-2 {
    text-align: center;
  }

  .heading-4 {
    text-align: left;
  }

  .heading-4.margin-40 {
    max-width: 100%;
  }

  .bold-text {
    display: inline;
  }

  .div-block-5 {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .rich-text {
    width: 100%;
    max-width: none;
  }

  .container-1 {
    text-align: left;
  }

  .h1 {
    display: block;
    font-size: 36px;
    line-height: 42px;
  }

  .paragraph-light {
    display: block;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  .paragraph-light.cc-position-name {
    text-align: left;
  }

  .paragraph-light.inline {
    display: inline;
  }

  .section {
    margin-right: 24px;
    margin-bottom: 60px;
    margin-left: 24px;
    color: #323338;
  }

  .section.margin-bottom-160 {
    margin-bottom: 160px;
  }

  .navigation-items.shadow {
    background-color: #fff;
    box-shadow: 6px 6px 20px 0 rgba(68, 66, 77, 0.2);
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .contact {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
  }

  .project-overview-grid {
    width: 100%;
    max-width: none;
    grid-auto-flow: column;
    grid-auto-columns: 0.25fr;
    -ms-grid-columns: minmax(200px, 3fr);
    grid-template-columns: minmax(200px, 3fr);
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .detail-image {
    margin-bottom: 40px;
  }

  .next-project {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }

  .left-icon {
    margin-left: 0px;
  }

  .slide-nav {
    font-size: 8px;
    line-height: 12px;
  }

  .time-text {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
  }

  .homepage-text {
    font-size: 28px;
    line-height: 42px;
  }

  .paragraph-bold {
    font-size: 16px;
    line-height: 26px;
  }

  .video-wrap {
    width: 100%;
  }

  .margin-40.margin--30 {
    margin-top: -10px;
  }

  .margin-40.section {
    margin-left: 24px;
  }

  .header-text-wrap {
    margin-top: 0px;
    text-align: left;
  }

  .homepage-sub {
    font-size: 22px;
    line-height: 32px;
  }

  .margin-bottom-160 {
    margin-bottom: 60px;
  }

  .inline {
    display: inline;
  }

  .inline.link {
    font-size: 14px;
    line-height: 22px;
  }

  .footer-text {
    font-size: 8px;
    line-height: 12px;
  }

  .footer-text.margin-20.heading-2 {
    text-align: right;
  }

  .next-project-wrap {
    margin-bottom: 0px;
  }

  .section-homepage {
    margin-right: 24px;
    margin-left: 24px;
  }

  .left-icon-2 {
    margin-left: 0px;
  }

  .slide-nav-2 {
    font-size: 8px;
    line-height: 12px;
  }

  .heading-1 {
    font-size: 36px;
    line-height: 48px;
  }

  .heading-3 {
    text-align: left;
  }

  .heading {
    font-size: 22px;
    line-height: 32px;
  }

  .bc1.bc-about {
    padding-top: 100px;
  }

  .seperate {
    display: block;
  }
}

#w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-3697ff96 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b3ef78ef-6579-6e40-ddac-bf4cc35d4e41-7697ff97 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_7edbcaa2-a390-b72c-e347-60a61ad3a810-6d97ff99 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_7290ed03-7478-a41a-30a5-c44347400a38-2b97ff9b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_19140acb-e77f-25cc-c540-8df271dec77e-8097ffa1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-b07b343c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-07aa7919 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-3697ff96 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-b3ef78ef-6579-6e40-ddac-bf4cc35d4e41-7697ff97 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_7edbcaa2-a390-b72c-e347-60a61ad3a810-6d97ff99 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_7290ed03-7478-a41a-30a5-c44347400a38-2b97ff9b {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_19140acb-e77f-25cc-c540-8df271dec77e-8097ffa1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-b07b343c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-07aa7919 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@font-face {
  font-family: 'Leaguespartan';
  src: url('../fonts/leaguespartan-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Itcavantgardestdbk';
  src: url('../fonts/ITCAvantGardeStdBk.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ITCAvantGardeStdBold';
  src: url('../fonts/ITCAvantGardeStdBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Itcavantgardestdxlt';
  src: url('../fonts/ITCAvantGardeStdXLt.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Itcavantgardestdmd';
  src: url('../fonts/ITCAvantGardeStdMd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Itcavantgardestddemi';
  src: url('../fonts/ITCAvantGardeStdDemi.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}